<h1>All Secrets</h1>

<% @secrets.each do |secret| %>
<p><%= secret.content %></p>

<% if current_user == secret.user %>
<p><form action='/secrets/<%= secret.id %>' method='post'>
	 <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
	  <input type='hidden' name="_method" value="delete">
	 <button type="submit" name="Delete">Delete</button>
</form></p>
<% end %>

<% secret.likes.each do |like| %>
<% if current_user.id == like.user_id %>
<p><form action='/likes/' method='post'>
	 <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
	  <input type='hidden' name="_method" value="delete">
	 <button type="submit" name="Unlike">Unlike</button>
</form></p>

<% else %>

<p><form action='/likes/<%= secret.id %>' method='post'>
	 <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
	 <button type="submit" name="Like">Like</button>
</form>

<% end %>
<% end %>

<% if secret.likes.count == 0 %>

<p><form action='/likes/<%= secret.id %>' method='post'>
	 <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>">
	 <button type="submit" name="Like">Like</button>
</form>

<% end %>

</p><%= secret.likes.count %>

<% end %>

<p><button><a href="/users">All Users</a></button>

